BasedOnStyle: LLVM

AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignOperands: false
AlignTrailingComments: false
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon
ExperimentalAutoDetectBinPacking: false
